body{



}
.jy-index-main{
	position: absolute;
	height: 500px;
	top:50%;
	left: 50%;
	margin: -250px -100px ;
}
.jy-index-main p{color: #f92b8a;text-align: center;background-image: -webkit-linear-gradient(92deg , #f92b8a, #DE01E0);}
.jy-index-main .jy-welcome{ 
	font-size: 50px;
	color: #DA22FF;
  background-image: -webkit-linear-gradient(92deg, #DA22FF , #3dfbfb);
}
.jy-line-gradient{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
.cursor{cursor: pointer;}