<html>
<head>
    <title>jylegend.github.com</title>
</head>
<body>

    <h2>欢迎登录jylegend.github.com</h2>
    <h3>当前站长：<abbr style="color: #FF5722">@ViewBag.Message</abbr></h3>
    <div>
        用户名：<div>
            <input placeholder="请输入手机号" maxlength="11" />
        </div>
    </div>
    <div>
        密&nbsp;&nbsp;码：<div>
            <input placeholder="请输入密码" maxlength="11" />
        </div>
    </div>
    <div><a href="/Home/index">回到首页</a></div>
</body>
</html>

